jupyterlab-lsp
jupyterlab-git
vpython
ipython
RISE
pylint
autopep8
jupyter-collaboration
jupyterlab-link-share
jupyterlab_vpython
python-lsp-server
seaborn
pyright
nb-js-diagrammers
pulp
py-heat-magic
jupyter_contrib_nbextensions
#nbgrader
